<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" xmlns:th="http://www.thymeleaf.org">
<!--引用js公共部分-->
<footer  th:fragment="scripts">
<script type="text/javascript" th:src="@{/scripts/main/jquery.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/base.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/util.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/event.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/util/action.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/util/business.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/component.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popup.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popupAdd.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popupMsg.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/site/home.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/site/profile.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/site/follow.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/site/detail.js}"></script>
</footer>
</html>